* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
}
body {
  padding: 0;
  font-size: 1.5rem;
  color: dimgray;
}
h1 {
  font-size: 3rem;
}
h3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2.5rem;
}
select {
  display: block;
  width: 50%;
}
img {
  width: 100%;
  height: auto;
  overflow: hidden;
  /* margin-left: 1rem; */
}
p {
  text-align: left;
  color: dimgray;
}
form {
  padding: 2rem 0;
}
label {
  margin-left: .5rem;
}
/* HOMESTAY */
.Homestay input {
  display: block;
  width: 50%;
}
.Homestay {
  display: flex;
  position: relative;
  padding: 5rem 10rem;
  background-color: #F3F3F3;
}
.Homestay-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}
.Homestay-bottom {
  display: flex;
}
.Homestay-content-left {
  width: 50%;
  padding-right: 2rem;
  height: auto;
  display: flex;
  flex-direction: column;
}
.Homestay-content {
  position: relative;
  width: 100%;
  padding-top: 2rem;
}
.Homestay-message {
  color: dimgray;
  z-index: 10;
  position: relative;
  transform: scale(1.5);
}
.Homestay-image {
    width: 30rem;
    border-radius: 5px;
    height: auto;
    margin: 3rem 1rem 3rem 0;
    overflow: hidden;
    float: right;
}
.Homestay-content-right {
  padding: 2rem;
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.Homestay-features
 {
  line-height: 2.3;
}
.Homestay-button {
  display: block;
  width: 50%;
  margin: 1rem 0;
}
.Exit-icon {
  transform: scale(2.5);
  margin-bottom: 1rem;
  color: dimgray;
}
.Exit {
  text-decoration: none;
  float: right;
}
/* HOMESTAYS */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  border: 1px gainsboro solid;
  width: 28rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  background-color: white;
}
.card:hover {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.Heart {
  color: salmon;
  z-index: 10;
  position: absolute;
  right: 20px;
  bottom: 20px;
  transform: scale(1.8);
}
.Heart:active,
.Heart:hover {
  color: crimson;
  cursor: pointer;
}
.Message {
  color: dimgray;
  z-index: 10;
  position: absolute;
  right: 50px;
  bottom: 20px;
  transform: scale(1.8);
}
.fa-star,
.Home,
.Price {
  color: teal;
  transform: scale(1.5);
  margin-right: 1rem;
}
.Homestays-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Homestays h2 {
  padding: 2rem 0;
}
/* CARD */
.cardRating {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.cardTitle {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding-top: 0.5rem;
}
.cardBody {
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem 0 0.5rem;
}
.new {
  margin: 0 1rem;
  color: #fff;
  background-color: teal;
  line-height: 1;
  font-weight: bold;
  padding: 3px;
  border-radius: 10%;
}
/* HEADER */
.Header {
  border-bottom: 1px solid teal;
  display: flex;
  justify-content: space-between;
  padding: 1% 2.5%;
  height: 10%;
  position: relative;
}
.Header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Header-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.Header-logo img {
  margin-left: 1rem;
}
.Header-menu {
  width: 2.5rem;
  height: 2rem;
  display: none;
}
.Header-menu:hover {
  cursor: pointer;
}
.Header-menu-line {
  position: relative;
  width: 2.5rem;
  height: 3px;
  background-color: teal;
  float: right;
}
.Header-menu-line::before,
.Header-menu-line::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  width: 2.5rem;
  height: 3px;
  background-color: teal;
  float: right;
}
.Header-menu-line::after {
  top: .75rem;
}
.profilePhoto {
  width: 30%;
  height: auto;
  border-radius: 50%;
}
.Logout,
.Login,
.Homestay-button {
  font-size: 2rem;
  background-color: salmon;
  color: white;
  outline: none;
  border: 2px solid transparent;
  padding: 0.9rem;
  border-radius: 5px;
}
.Logout:hover,
.Login:hover,
.Homestay-button:hover {
  background-color: white;
  color: salmon;
  border: 2px solid salmon;
  cursor: pointer;
}
/* NAVBAR */
.Navbar {
  display: flex;
  align-items: center;
}
.Navbar-active {
  display: flex;
  align-items: center;
}
.Link {
  text-decoration: none;
  font-size: 2rem;
  margin-right: 2rem;
  color: dimgray;
}
.Link:hover {
  cursor: pointer;
  border-bottom: 2px solid dimgray;
}
/* WISHLIST */
.Selected {
  height: 87.5vh;
}
.Selected,
.Homestays {
  padding: 1% 7%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("https://images.unsplash.com/photo-1487700160041-babef9c3cb55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1035&q=80");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* MAIN */
.Main-container {
  height: 45rem;
  position: relative;
  padding-top: 10vh;
}
.Main {
  height: 100vh;
  text-align: center;
  position: relative;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("https://images.unsplash.com/photo-1487700160041-babef9c3cb55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1035&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.Main button {
  margin: 10vh auto;
}
.Main h1 {
  font-size: 8rem;
}
.Main h2 {
  font-size: 5rem;
}
.input {
  padding: 0.5rem 0;
}
/* ACCOUNT */
.Profile {
  display: flex;
  height: 88vh;
  padding: 1% 7%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("https://images.unsplash.com/photo-1487700160041-babef9c3cb55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1035&q=80");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.Profile-profilePhoto {
  width: 80%;
  height: auto;
  border-radius: 50%;
  padding: 2rem;
}
.Profile p {
  margin-bottom: 1rem;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 700px) {
  .card {
    width: 35rem;
  }
  .Navbar-active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .Navbar {
    display: none;
  }
  .Header {
    flex-direction: column;
  }
  .Header-menu {
    display: block;
  }
  .Logout {
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  .Link {
    text-transform: uppercase;
    text-align: left;
    margin: 1rem 0;
  }
}
